.side-nav-container{
    background-color: rgb(37, 33, 33);
    width: 300px;
    height: 100vh;
    position: relative;
    transition: 0.4s;
}
 
.side-nav-container-NX{
    width: 80px;
}

.nav-upper, .nav-heading{
    display: grid;
}
.heading{
    margin-top: 10px;
    color: #fff;
    text-decoration:none;
 }
.nav-heading{
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}
.nav-brand{
    display: flex;
}
.nav-brand img{
    width: 8px;
    padding: 0 2px;
}
.hamburger{
    position: absolute;
    right: 0;
    background: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: #F0677C;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 90px;
    height: 71px;
    width: 74px;
}

.hamburger span{
    display: block;
    margin-top: 4px;
    background-color: #fff;
    border-radius: 15px;
    height: 4px;
    width: 30px;
    transition: 0.4s;
}

.hamburger :hover span{
   margin: auto;
}

.hamburger-in:hover span:nth-child(1){
    width: 25px;
    transform: translate(-3px, 8px) rotate(30deg);  
}
.hamburger-in:hover span:nth-child(2){
   display: none;
}
.hamburger-in:hover span:nth-child(3){
    width: 25px;
    transform: translate(-3px, -8px) rotate(-30deg);
}



.hamburger-in:hover span:nth-child(1){
    width: 25px;
    transform: translate(0px, 8px) rotate(-30deg);
}
.hamburger-in:hover span:nth-child(2){
   display: none;
}
.hamburger-in:hover span:nth-child(3){
    width: 25px;
    transform: translate(0px, -8px) rotate(30deg);
}


.nav-menu{
    grid-template-rows: repeat(7, 1fr);
    margin-top: 5px;

}

.menu-item{
    height: 30px;
    margin: auto 10px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
   position: relative;
}