/* .side-nav-container{
    background-color: rgb(37, 33, 33);
    width: 300px;
    height: 600px;
    position: relative;
    transition: 0.4s;
}
 
.side-nav-container-NX{
    width: 80px;
}

.nav-upper, .nav-heading{
    display: grid;
}
.heading{
    margin-top: 10px;
    color: #fff;
    text-decoration:none;
 }
.nav-heading{
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}
.nav-brand{
    display: flex;
}
.nav-brand img{
    width: 8px;
    padding: 0 2px;
}
.hamburger{
    position: absolute;
    right: 0;
    background: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: #F0677C;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 90px;
    height: 71px;
    width: 74px;
}

.hamburger span{
    display: block;
    margin-top: 4px;
    background-color: #fff;
    border-radius: 15px;
    height: 4px;
    width: 30px;
    transition: 0.4s;
}

.hamburger :hover span{
   margin: auto;
}

.hamburger-in:hover span:nth-child(1){
    width: 25px;
    transform: translate(-3px, 8px) rotate(30deg);  
}
.hamburger-in:hover span:nth-child(2){
   display: none;
}
.hamburger-in:hover span:nth-child(3){
    width: 25px;
    transform: translate(-3px, -8px) rotate(-30deg);
}



.hamburger-in:hover span:nth-child(1){
    width: 25px;
    transform: translate(0px, 8px) rotate(-30deg);
}
.hamburger-in:hover span:nth-child(2){
   display: none;
}
.hamburger-in:hover span:nth-child(3){
    width: 25px;
    transform: translate(0px, -8px) rotate(30deg);
}


.nav-menu{
    grid-template-rows: repeat(7, 1fr);
    margin-top: 5px;

}

.menu-item{
    height: 30px;
    margin: auto 10px;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
   position: relative;
} */



/* ============================================================
   GENERAL STYLES
   ============================================================ */
/* 
 @import url(http://fonts.googleapis.com/css?family=Roboto); */

 /* FREE GOOGLE FONT */
  
 /* body {
     font-family: 'Roboto', sans-serif;
     line-height: 30px;
     background-color: #81cfe0;
 }
  
 .set-radius-zero {
    border-radius: 0px;
}
.header-logo{
    cursor: pointer;
}
 
.login-icon {
    height: 60px;
    width: 60px;
    padding: 13px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-color: #F0677C;
}


.navbar{
    background-color: #F0677C;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.navbar-header{
    font-size: 23px;
    cursor: pointer;
} */





 /* ==========================================================
    LOGO SECTION STYLES
    ========================================================== */
/*   
  .left-div {
    padding-left: 30px;
    margin-left: 150px;
    margin-top: 40px;
    margin-bottom: 30px;
} */
/* 
.navbar-brand {
    padding-top: 30px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    color: #fff;
    font-size: 24px 4px;
    line-height: 24px;
} */

/* 
.navbar-inverse {
    background-color: #C36464;
    border-color: transparent;
}

.navbar {
    margin-bottom: 0px;
} */


/* ========================
        SIDEBAR
   ========================*/
/* .content-wrapper{
    display: flex;
    align-items: stretch;
    margin: 0px;
    padding: 0px;
}
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar{
    min-width: 250px;
    max-width: 250px;
    background-color: #C36464;
    color: #fff;
    transition: all 0.3s;
   
}
#sidebar.active{
   margin-left: -250px;
} */

/* #sidebar .sidebar-header{
    padding: 20px;
    background-color: rgb(41, 40, 40);
} */
/* 
#sidebar .sidebar-header{
    padding: 20px;
    background: #F0677C;
}

#sidebar ul.components{
    padding:  20px 0;
    border-bottom: rgba(39, 38, 38, 0.55);
}
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #F0677C;
    background: #fff;
} */
/* 
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #F0677C;
} */

/* a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */
/* 
#sidebar ul li a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
   
} */


/* ========================
   SIDEBAR MEDIA QUERRIES  
   ========================*/
/* 
@media (max-width: 768px) {

    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
} */

/* 
#sidebar.active ul ul a{
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after{
   top: auto;
   bottom: 10px;
   right: 50%;
   transform: translateX(50%) ;
}
  */